<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.db.myapplication"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk
            android:minSdkVersion="7"
            android:targetSdkVersion="16"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        <activity
                android:name="com.db.myapplication.Splash"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name="com.db.myapplication.MainActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.db.myapplication.MAINACTIVITY"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
                android:name="com.db.myapplication.Menu"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.db.myapplication.MENU"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
                android:name="com.db.myapplication.SqlView"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.db.myapplication.SQLVIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
                android:name="com.db.myapplication.TextPlay"
                android:label="@string/app_name">
        </activity>
        <activity
                android:name="com.db.myapplication.SqLitExample"
                android:label="@string/app_name">
        </activity>
    </application>

</manifest>
